

img {
    text-align: end;
}

.Navigatiebalk {
    background: #260f54;
    border-bottom: 5px solid #fec23e;
    width: 100%;
    position: relative;
    font-family:Calibri;
}

.Navigatiebalk a {
    color: white;
}

.Navigatiebalk p {
    color: gray;
}

.rechthoek1 p {
    color: white;
}

header h2{
    color: #fec23e;
}

.Koppen{
    background: white;
    text-align: left;
    
}

blockquote {
    border-left: 5px solid #2ea3f2;
    padding-left: 50px;
    display: block;
}

p{
    font-family:Calibri;
}
